    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            
            <div class="content-wrapper">
            <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4">
                  <div class="border-bottom text-center pb-4">
                      <div class="mb-3">
                      <h3 style="color:orange;">Anishaa Paul</h3>
                       </div>
                  
                  </div>
               
                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left">
                        Status
                      </span>
                      <span class="float-right text-muted">
                      Active                          </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Phone
                      </span>
                      <span class="float-right text-muted">
                      9999282675                          </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Mail
                      </span>
                      <span class="float-right text-muted">
                      anishaa@ornatesolar.com                          </span>
                    </p>
                
                    <p class="clearfix">
                      <span class="float-left">
                        Designation
                      </span>
                      <span class="float-right text-muted">
                      Regional Manager                          </span>
                    </p>
                   
                   
                   
                  </div>
<hr/>

                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left">
                        Total Leads
                      </span>
                      <span class="float-right text-muted">
                      0                          </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Active Leads
                      </span>
                      <span class="float-right text-muted">
                      0                          </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Pending Leads
                      </span>
                      <span class="float-right text-muted">
                      0                          </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                       Closed Leads
                      </span>
                      <span class="float-right text-muted">
                      0                          </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                       Last Updated
                      </span>
                      <span class="float-right text-muted">
                       days Ago
                      </span>
                    </p>
                   
                  </div>
                  <a href="companies.php" class="btn btn-primary btn-block mb-2">Add New Lead</a>
                  
                </div>

                <div class="col-lg-8">
                <div class="col-12">
          <div class="row">
                <div class="col-md-10 mx-auto">
                  <ul class="nav nav-pills nav-pills-custom" id="pills-tab-custom" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab-custom" data-toggle="pill" href="#pills-health" role="tab" aria-controls="pills-home" aria-selected="true">
                        All Activities
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab-custom" data-toggle="pill" href="#pills-career" role="tab" aria-controls="pills-profile" aria-selected="false">
                        
                      Meeting
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-contact-tab-custom" data-toggle="pill" href="#pills-music" role="tab" aria-controls="pills-contact" aria-selected="false">
                        Company List
                      </a>
                    </li>
                    <!--li class="nav-item">
                      <a class="nav-link" id="pills-vibes-tab-custom" data-toggle="pill" href="#pills-vibes" role="tab" aria-controls="pills-contact" aria-selected="false">
                        Vibes
                      </a>
                    </li-->

                  </ul>
                  <div class="tab-content tab-content-custom-pill" id="pills-tabContent-custom">
                      
                      
                      
                      
                    <div class="tab-pane fade show active" id="pills-health" role="tabpanel" aria-labelledby="pills-home-tab-custom">
                    <div class="row">
                   <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-10 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (delivery in Gurgaon, quoted 22.5/watt ex-w/h) - AURO GREEN PRODUCTS  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-06-22</b>&emsp; end customer yet to confirm the order &emsp; <b>Status-</b>Follow Up By-2020-06-22 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-06-25</b>&emsp;  test &emsp; <b>Status-</b>Contacted By-2020-06-25 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-06-26</b>&emsp; the end customer has not confirmed the order yet &emsp; <b>Status-</b>Follow Up By-2020-06-26 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-16</b>&emsp;  order not confirmed yet from the end client &emsp; <b>Status-</b>Follow Up By-2020-07-16 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-21</b>&emsp;  no response &emsp; <b>Status-</b>Follow Up By-2020-07-21 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-30</b>&emsp;  customer has delayed due to financial issues, will take 2-3 weeks more to close &emsp; <b>Status-</b>Follow Up By-2020-07-30 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-16 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (13 kw CS-330P) - GMR Solar Energy Pvt Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-06-16</b>&emsp;  PO received, awaiting payment &emsp; <b>Status-</b>Follow Up By-2020-06-16 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-06-18</b>&emsp;  100% payment received &emsp; <b>Status-</b>Closed By-2020-06-18 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-18 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (25 kw, delivery in Punjab. quoted 355 W- 22 ex, 405- 22.75 ex) - Solar Pulse Energy Pvt Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-07-16</b>&emsp;  order not confirmed yet by the end client &emsp; <b>Status-</b>Follow Up By-2020-07-16 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-22 <br/> RenewSys                    <small class="description"><b> - 1-50KW (RS 25 kw) - Provoltus Energy Services LLP  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-06-22</b>&emsp;  quoting to a customer, &emsp; <b>Status-</b>Contacted By-2020-06-22 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-06-26</b>&emsp;  he has submitted the quote and waiting for the end client to confirm &emsp; <b>Status-</b>Follow Up By-2020-06-26 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-16</b>&emsp;  not confirmed yet, freight cost is too high &emsp; <b>Status-</b>Follow Up By-2020-07-16 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-24</b>&emsp;  needs modules in Etawa, UP. I have shared the freight cost, waiting for the end client to confirm &emsp; <b>Status-</b>Follow Up By-2020-07-24 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-22 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (Req for Canadian module 325wp 40nos) - GMR Solar Energy Pvt Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-06-26</b>&emsp;  material delivered &emsp; <b>Status-</b>Closed By-2020-06-26 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-22 <br/> Enphase                    <small class="description"><b> - 1-50KW (Req for 5kw Micro inverter) - M/S ADDWATT POWER SOLUTIONS PRIVATE LIMITED  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-06-26</b>&emsp; getting very low prices for hoymiles, overall cost for system becomes lower &emsp; <b>Status-</b>Follow Up By-2020-06-26 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-16</b>&emsp;  bought hoymiles at more than half the cost &emsp; <b>Status-</b>Lost By-2020-07-16 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-26 <br/> Solar Edge                    <small class="description"><b> - 1-50KW (17 kw inverter with P730, ) - ARC Renewables Pvt  Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-06-26</b>&emsp;  quoted to the end client, will take about 15 days to close &emsp; <b>Status-</b>Follow Up By-2020-06-26 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-16</b>&emsp; submitted proposal to the client, waiting for approval &emsp; <b>Status-</b>Follow Up By-2020-07-16 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-24</b>&emsp;  project size reduced to 10 kw, not finalised yet &emsp; <b>Status-</b>Follow Up By-2020-07-24 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-29</b>&emsp;  order not confirmed yet..qty increased to 2 inverters &emsp; <b>Status-</b>Follow Up By-2020-07-29 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-07</b>&emsp;  order not confirmed by the end client yet &emsp; <b>Status-</b>Follow Up By-2020-08-07 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-07</b>&emsp;  order not confirmed by the end client yet &emsp; <b>Status-</b>Follow Up By-2020-08-07 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-14</b>&emsp;  qty increased to 2 inverters, will purchase next week &emsp; <b>Status-</b>Follow Up By-2020-08-14 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-18</b>&emsp;  order expected this week &emsp; <b>Status-</b>Follow Up By-2020-08-18 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-26 <br/> Fronius                    <small class="description"><b> - 1-50KW (needs a 7 kw inverter) - Addwatt Power Solutions Pvt Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-07-13</b>&emsp; wanted a cheaper cost effective inverter. was looking for kstar &emsp; <b>Status-</b>Lost By-2020-07-13 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-26 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (5 kw in Bhilwara) - ELECTROTHERM SOLAR LIMITED  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-06-26</b>&emsp;  material dispatched &emsp; <b>Status-</b>Closed By-2020-06-26 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-26 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (50-70 KW) - Power XP Consultants  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-06-26</b>&emsp;  trying to club orders to increase quantity to 70 kw &emsp; <b>Status-</b>Follow Up By-2020-06-26 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-29</b>&emsp;  advance received &emsp; <b>Status-</b>Closed By-2020-07-29 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-26 <br/> Solar Edge                    <small class="description"><b> - 1-50KW (15 kw plant) - Power XP Consultants  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-07-16</b>&emsp;  waiting for the end client to confirm &emsp; <b>Status-</b>Follow Up By-2020-07-16 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-20</b>&emsp; quotation shared &emsp; <b>Status-</b>Follow Up By-2020-07-20 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-22</b>&emsp; price submitted to the end client, he is yet to choose between 10 kw or 17 kw inverter &emsp; <b>Status-</b>Follow Up By-2020-07-22 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-24</b>&emsp;  plant size reduced, will confirm the exact size in 2 days &emsp; <b>Status-</b>Follow Up By-2020-07-24 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-29</b>&emsp;  lost, customer went for ksolare for lower pricing &emsp; <b>Status-</b>Lost By-2020-07-29 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-07-15 <br/> Solar Edge                    <small class="description"><b> - 1-50KW (He is looking for Solaredge Inverter) - SunSmith Infra Pvt.Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-07-16</b>&emsp;  have quoted prices to the end customer,  &emsp; <b>Status-</b>Follow Up By-2020-07-16 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-20</b>&emsp;  quotation along with design shared &emsp; <b>Status-</b>Follow Up By-2020-07-20 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-21</b>&emsp; pricing shared with end client &emsp; <b>Status-</b>Follow Up By-2020-07-21 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-25</b>&emsp;  getting lower prices from other distributors &emsp; <b>Status-</b>Follow Up By-2020-07-25 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-27</b>&emsp; submitted an aggressive price. Bidding against all the other distributors of solaredge &emsp; <b>Status-</b>Follow Up By-2020-07-27 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-29</b>&emsp;  submitted our lowest prices. final discussion in process &emsp; <b>Status-</b>Follow Up By-2020-07-29 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-31</b>&emsp;  po and advance on monday &emsp; <b>Status-</b>Closed By-2020-07-31 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
             
             
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-07-17 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (16 kw modules - 410) - Polaris Renewable Solutions Pvt Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-07-17</b>&emsp; Advance received &emsp; <b>Status-</b>Follow Up By-2020-07-17 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-22</b>&emsp;  delivery location in containment zone, delivery delayed by a week &emsp; <b>Status-</b>Follow Up By-2020-07-22 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-27</b>&emsp;  full payment in 1-2 days &emsp; <b>Status-</b>Follow Up By-2020-07-27 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-28</b>&emsp;  will pick up the material by 31st &emsp; <b>Status-</b>Follow Up By-2020-07-28 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-31</b>&emsp;  will make full payment by 4th Aug &emsp; <b>Status-</b>Follow Up By-2020-07-31 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-04</b>&emsp;  will make full payment by 6th aug &emsp; <b>Status-</b>Follow Up By-2020-08-04 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-06</b>&emsp;  payment by 10th &emsp; <b>Status-</b>Follow Up By-2020-08-06 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-10</b>&emsp;  full payment expected &emsp; <b>Status-</b>Follow Up By-2020-08-10 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-14</b>&emsp;  material delivered &emsp; <b>Status-</b>Closed By-2020-08-14 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-07-17 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (30 kw , delivery in ncr) - SunSmith Infra Pvt.Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-07-17</b>&emsp;  quoted 20 ex for 410 W, delivery by month end &emsp; <b>Status-</b>Follow Up By-2020-07-17 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-24</b>&emsp;  no response for 2 days &emsp; <b>Status-</b>Follow Up By-2020-07-24 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-28</b>&emsp; project delayed for a bit &emsp; <b>Status-</b>Follow Up By-2020-07-28 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-04</b>&emsp;  pending from end customer &emsp; <b>Status-</b>Follow Up By-2020-08-04 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-08-07 <br/> Fronius                    <small class="description"><b> - 1-50KW (10 KW Full version) - Power XP Consultants  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-08-07</b>&emsp; quoted to the end client &emsp; <b>Status-</b>Follow Up By-2020-08-07 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-20</b>&emsp;  customer may convert to solaredge .. awaiting the confirmation &emsp; <b>Status-</b>Follow Up By-2020-08-20 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
              
         
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-07-16 <br/> Canadian Solar                    <small class="description"><b> - 1000-MoreKW (2.2 MW) - ARC Renewables Pvt  Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                                     <h5 class="info-text"><b>* &emsp;2020-07-17</b>&emsp;  full payment by 23rd &emsp; <b>Status-</b>Follow Up By-2020-07-17 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-20</b>&emsp;  awaiting payment &emsp; <b>Status-</b>Follow Up By-2020-07-20 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-21</b>&emsp; payment received for 950 kw &emsp; <b>Status-</b>Follow Up By-2020-07-21 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-07-24</b>&emsp;  part payment received, dispatch of 4 containers in process &emsp; <b>Status-</b>Follow Up By-2020-07-24 </h5>
                    
                    
                                            <h5 class="info-text"><b>* &emsp;2020-08-01</b>&emsp;  all material dispatched &emsp; <b>Status-</b>Closed By-2020-08-01 </h5>
                    
                    
                        
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <!-- end col-md-12 -->
      </div>
                    </div>


                    <div class="tab-pane fade" id="pills-career" role="tabpanel" aria-labelledby="pills-profile-tab-custom">
            
            <div class="row">
                   <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-10 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (delivery in Gurgaon, quoted 22.5/watt ex-w/h) - AURO GREEN PRODUCTS  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                 
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>
                    <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2020-06-16 <br/> Canadian Solar                    <small class="description"><b> - 1-50KW (13 kw CS-330P) - GMR Solar Energy Pvt Ltd  </b></small>
              </h4>
              <hr/>
              <div class="col-sm-12">
                <div class="form-group">
                 
                  </div>
                </div>
            </div>
            
          </div>
          <br/>
        </div>

                    <!-- end col-md-12 -->
      </div>
 
             </div>
              <div class="tab-pane fade" id="pills-music" role="tabpanel" aria-labelledby="pills-contact-tab-custom">
                <div class="col-md-12">
                    <p class="clearfix">
                        <span class="float-left"></span>
                        <span class="float-right text-muted">
                                <a href="#" class="btn-sm btn-info">+Company</a>
                          </span>
                      </p>
                      <table id="table" class="table table-bordered table-hover">
                          <thead style="background:#A4D8F9;">
                          <tr>
                          <th>Name</th>
                        
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>City</th>
                      <th>State</th>
                    
                      </tr>
                          </thead>
                          <tbody>
                              
                                          <tr>
                                          <td>ABLERS SERVICES PRIVATE LIMITED</td>
                                          
                                                  <td>ablersservices@gmail.com</td>
                                                  <td>9466824573</td>
                                                  <td>Gurgaon</td>
                                                  <td>HARYANA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Addwatt Power Solutions Pvt Ltd</td>
                                          
                                                  <td></td>
                                                  <td></td>
                                                  <td>Noida</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>ALPHALOOP SOLAR LLP</td>
                                          
                                                  <td>tarunkhurana@loopsolar.com</td>
                                                  <td>9971136368</td>
                                                  <td>Gurgaon</td>
                                                  <td>HARYANA</td>
                                                  
            
            
                                          </tr>
                                      
                                    
                                      
                                      
                                      
                                          <tr>
                                          <td>M/S MAIDEN SPORTS</td>
                                          
                                                  <td>maidensports@gmail.com</td>
                                                  <td>9997999002</td>
                                                  <td>Meerut</td>
                                                  <td>UTTAR PRADESH</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>OHMS ENERGY PVT. LTD.</td>
                                          
                                                  <td>pankaj.patel@dkenergy.co.in</td>
                                                  <td>8875027381</td>
                                                  <td>Jaipur</td>
                                                  <td>RAJASTHAN</td>
                                                  
            
            
                                          </tr>
                                      
                                        
                                      
                                          <tr>
                                          <td>POLARIS RENEWABLE SOLUTIONS PRIVATE LIMITED</td>
                                          
                                                  <td>info@polarisenergy.in</td>
                                                  <td>9372938936</td>
                                                  <td>Nashik</td>
                                                  <td>MAHARASHTRA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Polaris Renewable Solutions Pvt Ltd</td>
                                          
                                                  <td>info@polarisenergy.in</td>
                                                  <td>9172315353</td>
                                                  <td>Nashik</td>
                                                  <td>MAHARASHTRA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Power XP Consultants</td>
                                          
                                                  <td></td>
                                                  <td></td>
                                                  <td>Bikaner</td>
                                                  <td>RAJASTHAN</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>POWERXP CONSULTANTS PRIVATE LIMITED</td>
                                          
                                                  <td>irapower.pl@gmail.com</td>
                                                  <td>8005601500</td>
                                                  <td>Bikaner</td>
                                                  <td>RAJASTHAN</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>PRACHIT RENEWABLES</td>
                                          
                                                  <td>info@prachitrenewables.com</td>
                                                  <td>9967533606</td>
                                                  <td>Mumbai</td>
                                                  <td>MAHARASHTRA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Prakash Bhalerao</td>
                                          
                                                  <td>prakash@bhalerao.com</td>
                                                  <td>8605422200</td>
                                                  <td>Pune</td>
                                                  <td>MAHARASHTRA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Provoltus Energy Services LLP</td>
                                          
                                                  <td>vipul@provoltus.com</td>
                                                  <td></td>
                                                  <td>Gurgaon</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Quadsun Solar</td>
                                          
                                                  <td></td>
                                                  <td></td>
                                                  <td>Gurgaon</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>RENESYS POWER SYSTEMS PRIVATE LIMITED</td>
                                          
                                                  <td>jpmehta@renesys.in</td>
                                                  <td>9904004410</td>
                                                  <td>Ahmedabad</td>
                                                  <td>GUJRAT</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>RENEWAL ECOPOWER INDIA PRIVATE LIMITED</td>
                                          
                                                  <td>renewalecopowerindia@gmail.com</td>
                                                  <td>9873073505</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>RISHABH ENTERPRISES</td>
                                          
                                                  <td>8585976024@demo.com</td>
                                                  <td>8585976024</td>
                                                  <td>Ghaziabad</td>
                                                  <td>UTTAR PRADESH</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>SHERMAN ENERGY LIMITED</td>
                                          
                                                  <td>sumudit@hotmail.com</td>
                                                  <td>9810189839</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Shubh Laxmi Metals</td>
                                          
                                                  <td></td>
                                                  <td></td>
                                                  <td>Mumbai</td>
                                                  <td>MAHARASHTRA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Siemens Ltd</td>
                                          
                                                  <td>narender.dutt@siemens.com</td>
                                                  <td>9810306183</td>
                                                  <td>Gurgaon</td>
                                                  <td>HARYANA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>SOLAR PULSE ENERGY PRIVATE LIMITED</td>
                                          
                                                  <td>info@solarpulseenergy.com</td>
                                                  <td>9953024442</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Solar Pulse Energy Pvt Ltd</td>
                                          
                                                  <td>prashant@solarpulseenergy.com</td>
                                                  <td>9599549403</td>
                                                  <td>Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>solar sense</td>
                                          
                                                  <td>vivekasthana.79@gmail.com</td>
                                                  <td>8800718191</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Solar Square Energy</td>
                                          
                                                  <td>neeraj@solarsquare.in</td>
                                                  <td>9322966549</td>
                                                  <td>Mumbai</td>
                                                  <td>MAHARASHTRA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>SOLARSQUARE ENERGY PRIVATE LIMITED</td>
                                          
                                                  <td>bijan@solarsquare.in</td>
                                                  <td>8108975626</td>
                                                  <td>Mumbai</td>
                                                  <td>MAHARASHTRA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Solluz Energy Pvt Ltd</td>
                                          
                                                  <td></td>
                                                  <td>9810528397</td>
                                                  <td>Gurgaon</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>SREE SOWNDARYAM ENERGY</td>
                                          
                                                  <td>sreesowndarryam@gmail.com</td>
                                                  <td>8883727888</td>
                                                  <td>Madurai</td>
                                                  <td>TAMIL NADU</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>STARC ENERGY SOLUTIONS (OPC) PRIVATE LIMITED</td>
                                          
                                                  <td>info@starcenergy.in</td>
                                                  <td>7678466298</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>STATCON ENERGIAA PRIVATE LIMITED</td>
                                          
                                                  <td>purchase@energiaa.in</td>
                                                  <td>9821396423</td>
                                                  <td>Hapur</td>
                                                  <td>UTTAR PRADESH</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>STEEL GRACE INDIA PVT LTD</td>
                                          
                                                  <td>praveen.steelgrace@gmail.com</td>
                                                  <td>8691867686</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>STERLING AND WILSON PVT LTD</td>
                                          
                                                  <td>sunnyarbastani@sterlingwilson.com</td>
                                                  <td>8828437347</td>
                                                  <td>Gurgaon</td>
                                                  <td>HARYANA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>STERLING AND WILSON SOLAR LIMITED</td>
                                          
                                                  <td>rakeshhassan@sterlingwilson.com</td>
                                                  <td>8898693830</td>
                                                  <td>Anekal</td>
                                                  <td>KARNATAKA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>SUN PHOTONICS PRIVATE LIMITED</td>
                                          
                                                  <td>9899219124@demo.com</td>
                                                  <td>9899219124</td>
                                                  <td>Gurgaon</td>
                                                  <td>HARYANA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>SUNRAYS POWER SOLUTIONS PRIVATE LIMITED</td>
                                          
                                                  <td>jyoti.yogi@sunrayspower.in</td>
                                                  <td>7043912009</td>
                                                  <td>Ahmedabad</td>
                                                  <td>GUJRAT</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Surya Day Pvt.Ltd</td>
                                          
                                                  <td>sushil.seth@suryaday.com</td>
                                                  <td>9810183015</td>
                                                  <td>Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>TAGGART INTERNATIONAL</td>
                                          
                                                  <td>admin@taggart.in</td>
                                                  <td>7878686860</td>
                                                  <td>Sanpada</td>
                                                  <td>MAHARASHTRA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>TARA POWER TECH</td>
                                          
                                                  <td>projects.tarapower@gmail.com</td>
                                                  <td>9873636696</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>TSK SOLAR INDIA</td>
                                          
                                                  <td>Taranpreet@gmail.com</td>
                                                  <td>9999900146</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>UD Energies</td>
                                          
                                                  <td>udenergies@gmail.com</td>
                                                  <td>9456225579</td>
                                                  <td>Dadri</td>
                                                  <td>UTTAR PRADESH</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>VISION SOLAR</td>
                                          
                                                  <td>vipinsharma@visionsolarpower.com</td>
                                                  <td>9999366217</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>Winnerspitch Energy Pvt Ltd</td>
                                          
                                                  <td>pagrawal@winnerspitch.co.in</td>
                                                  <td>9810398525</td>
                                                  <td>Gurgaon</td>
                                                  <td>HARYANA</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>ZOLT ENERGY PRIVATE LIMITED</td>
                                          
                                                  <td>ram@zoltenergy.com</td>
                                                  <td>8882122999</td>
                                                  <td>New Delhi</td>
                                                  <td>DELHI NCR</td>
                                                  
            
            
                                          </tr>
                                      
                                          <tr>
                                          <td>ZUNROOF TECH PRIVATE LIMITED</td>
                                          
                                                  <td>gnvenkatesh@zunroof.com</td>
                                                  <td>9036666107</td>
                                                  <td>Gurgaon</td>
                                                  <td>HARYANA</td>
                                                  
            
            
                                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                   
                
                  </div>
                </div>
              </div>
            </div>
          
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            

        </div>
    </div>
