.example-full-width {
    width: 85%;
  }
 
  .example-custom-date-class {
    background: orange;
    border-radius: 80%;
  }
  .btn {
    color: #212529;
    background-color: #0ad7f7;
    border-color: #0ad7f7;
   width: 200px;
   font-size: 0.875rem;
    font-weight: 600;
  }
  .btn:hover{
    color:white;
    background-color: #5e9ada;
    border-color: #5e9ada;
   width: 200px;
   font-size: 0.875rem;
    font-weight: 600;
  }