<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->

     <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Panel Order</h3>
          </div>

            <div class="card-body">
              <div class="row">
                 <div class="col-md-12">
<form method="POST" action="" class="form-group">
        
        
        
        
        
          <div class="row">
          <div class="col-sm-2">
           <div class="form-group">
            <label>Company Name: </label>

            <div class="form-control"  >A J ENTERPRISES</div>
          </div>
        </div>
       
         <div class="col-sm-2">
           <div class="form-group">
            <label>Address: </label>
             <div class="form-control"  >C-140 SECTOR-10 NOIDA</div>
          </div>
        </div> 
        <div class="col-sm-2">
           <div class="form-group">
            <label>City: </label>
             <div class="form-control"  >Noida</div>
          </div>
        </div> <div class="col-sm-2">
           <div class="form-group">
            <label>State: </label>
             <div class="form-control"  >UTTAR PRADESH</div>
          </div>
        </div>
         <div class="col-sm-2">
           <div class="form-group">
            <label>GSTN: </label>
            <div class="form-control"  >09AOEPT2861A1Z0</div>
          </div>
        </div>
        
        </div>
          
          
          
               <div class="row">
          <div class="col-sm-4">
          <div class="form-group">
           <label>Contact Person: <font color="red">*</font></label>
          
                
            </div>
        </div>
         <div class="col-sm-4">
        <div class="form-group">
           <label> Phone No: </label>
            <p id = "seller_address2" ></p>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <div class="form-group">
           <label>Email </label>
            <p id = "line_12" name = "b_address1"></p>
          </div>
        </div>
        
        
        </div>
          
           <hr/>
          
          
          
                <div class="row">
          <div class="col-sm-4">
           <div class="form-group">
           <label>Sales Person: <font color="red">*</font></label>
                 
                
            </div>
        </div>
         
       <div class="col-sm-4">
          <div class="form-group">
            <label>Date: </label>
            <input  oninput="this.tab = ''" class="form-control" name="date" id="useremail" value = "21st  August 2020"  name="date" >
          </div>
          <!-- /.form-group -->
          
        </div>              
        </div>
          

                  
           <div class="row">
          <div class="col-sm-2">
          <div class="form-group">
           <label>Seller: <font color="red">*</font></label>
                
                
            </div>
        </div>   <div class="col-sm-2">
        <div class="form-group">
           <label> Name: </label>
            <p id = "seller_address" name = "purchaser_name_company"></p>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-2">
          <div class="form-group">
           <label>Address Line 1: </label>
            <p id = "line_1" name = "p_address1"></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
           <label>Address Line 2: </label>
            <p id = "line_2" name = "p_address2"></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
           <label>Address Line 3: </label>
            <p id = "line_3" name = "p_address3"></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
           <label>GSTN No: </label>
            <p id = "GSTN_NO" name = "p_gstn"></p>
          </div>
        </div>
        </div>
       
          
    <hr/>	  


  
          

  <div class="row">
          <div class="col-sm-2">
         <div class="form-group">
           <label>Product: <font color="red">*</font></label>
                 
            
            </div>
        </div>   <div class="col-sm-2">
        <div class="form-group">
           <label> Watt Class: </label>
            <p id = "watt" name = "watt"></p>
          </div>
        </div>
      
        <div class="col-sm-2">
          <div class="form-group">
           <label>Type: </label>
            <p id = "type" name = "type"></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
           <label>Voltage: </label>
            <p id = "voltage" name = "voltage"></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
           <label>Power Tolerance: </label>
            <p id = "power_tolerance" name = "power_tolerance"></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
           <label>Cell: </label>
            <p id = "cell" name = "cell"></p>
          </div>
        </div>
        </div>
        
        
        
        
          <div class="row">
          <div class="col-sm-3">
           <div class="form-group">
            <label>No of Modules: <font color="red">*</font></label>
            <input type="text"  class="form-control" name="qty_number" required >
          </div>
        </div>
       
         <div class="col-sm-3">
           <div class="form-group">
            <label>Price per Watt: <font color="red">*</font></label>
            <input type="text"  class="form-control" name="rate" required >
          </div>
        </div> 
    
        <div class="col-sm-3">
           <div class="form-group">
            <label>Delivery Terms: <font color="red">*</font></label>
            
          
          </div>
        </div> 
        </div>
        
        
        <hr/>
        <p>Terms & Conditions</p>
           <div class="col-sm-12">
           <div class="form-group">
            <label>Delivery Schedule <font color="red">*</font></label>
            <Textarea type="text"  class="form-control" name="d_schedule"  >Before 31 July 2020</textarea>
          </div>
        </div>
           <div class="col-sm-12">
           <div class="form-group">
            <label>Material Availability <font color="red">*</font></label>
            <Textarea type="text"  class="form-control" name="m_avaibility"  >Would be available by 31st July, 2020</textarea>
          </div>
        </div>
            <div class="col-sm-12">
           <div class="form-group">
            <label>Payment Terms <font color="red">*</font></label>
            <Textarea type="text"  class="form-control" name="p_terms"  >100% advance</textarea>
          </div>
        </div>
            <div class="col-sm-12">
           <div class="form-group">
            <label>Incoterms 2010 <font color="red">*</font></label>
            <Textarea type="text"  class="form-control" name="incoterms"  >CFR</textarea>
          </div>
        </div>
        <div class="col-sm-12">
           <div class="form-group">
            <label>Warranty <font color="red">*</font></label>
            <Textarea type="text"  class="form-control" name="warranty"  >CSI Standard Warranty (12 years on material & workmanship & 25 years on power output)</textarea>
          </div>
        </div>
        <div class="col-sm-12">
           <div class="form-group">
            <label>Quote Validity <font color="red">*</font></label>
            <Textarea type="text"  class="form-control" name="q_validation"  >05 days from the date of this quotation</textarea>
          </div>
        </div>
        <hr/> 
        <button  type="submit" class="btn btn-success form-control col-sm-2 pull-right" name="submit">Submit</button>
            <button  type="submit" class="btn btn-success form-control col-sm-2 pull-right" name="submit1">Submit & Send Email</button>
        
        
        
      </form>
        </div>
          </div>
            </div>
        
        </div>
        </div>
        </div>
        </div>