<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
              
                <div class="col-lg-2" >
                    <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="dp1" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>
                </div><br/>
                <div class="col-lg-2">
                    <mat-form-field appearance="fill" class="inputb">
                        <mat-label>Region</mat-label>
                        <mat-select disableRipple>
                        <mat-option value="1" >Maharashtra</mat-option>
                        <mat-option value="2">Delhi</mat-option>
                        <mat-option value="3">Up/Punjab</mat-option>
                        <mat-option value="3">Rajesthan</mat-option>
                        <mat-option value="3">South</mat-option>
                        </mat-select>
                     </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="fill" class="inputb">
                        <mat-label>Source</mat-label>
                        <mat-select disableRipple>
                        <mat-option value="1" >Email</mat-option>
                        <mat-option value="2">Facebook</mat-option>
                        <mat-option value="3">You tube</mat-option>
                        </mat-select>
                     </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="fill" class="inputb">
                        <mat-label>Manufacturer</mat-label>
                        <mat-select disableRipple>
                        <mat-option value="1" >Canadian Solar</mat-option>
                        <mat-option value="2">Renewsys</mat-option>
                        <mat-option value="3">Fronius</mat-option>
                        </mat-select>
                     </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="fill" class="inputb">
                        <mat-label>Sales Person</mat-label>
                        <mat-select disableRipple>
                        <mat-option value="1" >Amit sharma</mat-option>
                        <mat-option value="2">Anisha Paul</mat-option>
                        <mat-option value="3">Bijoy</mat-option>
                        </mat-select>
                     </mat-form-field>
                </div>

          </div>
            
            <div class="row">
                <div class="col-sm-8 flex-column d-flex stretch-card">
                    <div class="row">
                    
                        <div class="col-lg-3 d-flex grid-margin stretch-card">
                            <div class="card sale-diffrence-border">
                                <div class="card-body">
                                    <h3 class="text-dark mb-2 font-weight-bold">25</h3>
                                    <h5 class="card-title mb-2">Total Lead</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex grid-margin stretch-card">
                            <div class="card sale-visit-statistics-border">
                                <div class="card-body">
                                    <h3 class="text-dark mb-2 font-weight-bold">20</h3>
                                    <h5 class="card-title mb-2">Active Leads</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex grid-margin stretch-card">
                            <div class="card sale-visit-statistics-border">
                                <div class="card-body">
                                    <h3 class="text-dark mb-2 font-weight-bold">30</h3>
                                    <h5 class="card-title mb-2">Pending Leads</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex grid-margin stretch-card">
                            <div class="card sale-visit-statistics-border">
                                <div class="card-body">
                                    <h3 class="text-dark mb-2 font-weight-bold">10</h3>
                                    <h5 class="card-title mb-2">Close leads</h5>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- Graph tab -->
                    <div class="row">
                        <div class="col-sm-12 grid-margin d-flex stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <canvas id="visitorsToday"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 flex-column d-flex stretch-card">
                    <div class="row flex-grow">
                        <div class="col-sm-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="font-weight-bold text-dark">Todays Follow-up Leads</h3>
                                    <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource" matSort>
            
                                        <!-- ID Column -->
                                        <ng-container matColumnDef="company">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                                          <td mat-cell *matCellDef="let row"> {{row.company}} </td>
                                        </ng-container>
                                    
                                        
                                    
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="product">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                                          <td mat-cell *matCellDef="let row"> {{row.product}} </td>
                                        </ng-container>
                                    
                                        <!-- Color Column -->
                                        <ng-container matColumnDef="description">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                                        </ng-container>
                                        
                                         <!-- Action Column -->
                                         
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                        </tr>
                                      </table>
                                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                      </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="font-weight-bold text-dark">Your Pending Leads</h3>
                                    <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource" matSort>
                                        <!-- ID Column -->
                                        <ng-container matColumnDef="company">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                                          <td mat-cell *matCellDef="let row"> {{row.company}} </td>
                                        </ng-container>
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="product">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                                          <td mat-cell *matCellDef="let row"> {{row.product}} </td>
                                        </ng-container>
                                    
                                        <!-- Color Column -->
                                        <ng-container matColumnDef="description">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                                        </ng-container>
                                    

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                        </tr>
                                      </table>
                                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                      </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
      
    </div>
    <!-- main-panel ends -->
</div>