<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
     <div class="content-wrapper">
        <div class="row">
           <div class="col-12">
              <div class="card">
                 <div class="card-body">
                    <div class="row">
                       <div class="col-lg-4">
                          <div class="border-bottom text-center pb-4">
                             <div class="mb-3">
                                <h3 style="color:orange;"> 7 BILLION SOLAR ENERGIES</h3>
                             </div>
                          </div>
                          <div class="py-4">
                             <p class="clearfix">
                                <span class="float-left">
                                Status
                                </span>
                                <span class="float-right text-muted">
                                Active                          </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Phone
                                </span>
                                <span class="float-right text-muted">
                                9877198194                          </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Mail
                                </span>
                                <span class="float-right text-muted">
                                nir0421@gmail.com                          </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Owner
                                </span>
                                <span class="float-right text-muted">
                                Amit Sharma                          </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Region
                                </span>
                                <span class="float-right text-muted">
                                North                        </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Address
                                </span>
                                <span class="float-right text-muted">
                                E-72 INDUSTRIAL AREA PHASE 8 MOHALI SAS Nagar, <br/> Mohali<br/> PUNJAB                          </span>
                             </p>
                          </div>
                          <hr/>
                          <div class="py-4">
                             <p class="clearfix">
                                <span class="float-left">
                                Total Leads
                                </span>
                                <span class="float-right text-muted">
                                1                          </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Active Leads
                                </span>
                                <span class="float-right text-muted">
                                0                          </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Pending Leads
                                </span>
                                <span class="float-right text-muted">
                                0                          </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Closed Leads
                                </span>
                                <span class="float-right text-muted">
                                1                          </span>
                             </p>
                             <p class="clearfix">
                                <span class="float-left">
                                Last Updated
                                </span>
                                <span class="float-right text-muted">
                                37 days Ago
                                </span>
                             </p>
                          </div>
                          <div class="row">
                             <div class="col-md-6"><a href="#" class="btn btn-primary btn-block mb-2">Add New Lead</a></div>
                             <div class="col-md-6"><a href="#" class="btn btn-primary btn-block mb-2">Generate Offer</a></div>
                          </div>
                       </div>
                       <div class="col-lg-8">
                          <div class="col-12">
                             <div class="row">
                                <div class="col-md-10 mx-auto">
                                   <ul class="nav nav-pills nav-pills-custom" id="pills-tab-custom" role="tablist">
                                      <li class="nav-item">
                                         <a class="nav-link active" id="pills-home-tab-custom" data-toggle="pill" href="#pills-health" role="tab" aria-controls="pills-home" aria-selected="true">
                                         Activities
                                         </a>
                                      </li>
                                      <li class="nav-item">
                                         <a class="nav-link" id="pills-profile-tab-custom" data-toggle="pill" href="#pills-career" role="tab" aria-controls="pills-profile" aria-selected="false">
                                         Details
                                         </a>
                                      </li>
                                      <li class="nav-item">
                                         <a class="nav-link" id="pills-contact-tab-custom" data-toggle="pill" href="#pills-music" role="tab" aria-controls="pills-contact" aria-selected="false">
                                         Point of Contacts
                                         </a>
                                      </li>
                                      <!--li class="nav-item">
                                         <a class="nav-link" id="pills-vibes-tab-custom" data-toggle="pill" href="#pills-vibes" role="tab" aria-controls="pills-contact" aria-selected="false">
                                           Vibes
                                         </a>
                                         </li-->
                                   </ul>
                                   <div class="tab-content tab-content-custom-pill" id="pills-tabContent-custom">
                                      <div class="tab-pane fade show active" id="pills-health" role="tabpanel" aria-labelledby="pills-home-tab-custom">
                                         <div class="row">
                                            <div class="col-md-12">
                                               <div class="card ">
                                                  <div class="card-header ">
                                                     <h4 class="card-title">2020-06-16 <br/> Canadian Solar                    <small class="description"><b> - 100-200KW (160Kw Canadian @ 20 Ex Mundra) - Amit Sharma  </b></small>
                                                     </h4>
                                                     <hr/>
                                                     <div class="col-sm-12">
                                                        <div class="form-group">
                                                           <h6 class="info-text"><b>* &emsp;2020-06-17</b>&emsp;  PI Share Waiting for Advance Payment &emsp; <b>Status-</b>Proposal By-2020-06-17 </h6>
                                                           <h6 class="info-text"><b>* &emsp;2020-07-13</b>&emsp;  80KW Delivered rest Pending &emsp; <b>Status-</b>Follow Up By-2020-07-13 </h6>
                                                           <h6 class="info-text"><b>* &emsp;2020-07-15</b>&emsp;  120KW Pickuped rest will pic after getting stock in delhi &emsp; <b>Status-</b>Closed By-2020-07-15 </h6>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                               <br/>
                                            </div>
                                            <!-- end col-md-12 -->
                                         </div>
                                      </div>
                                      <div class="tab-pane fade" id="pills-career" role="tabpanel" aria-labelledby="pills-profile-tab-custom">
                                         <div class="py-4">
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Company Name
                                               </span>
                                               <span class="float-right text-muted">
                                               7 BILLION SOLAR ENERGIES                          </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Email
                                               </span>
                                               <span class="float-right text-muted">
                                               nir0421@gmail.com                          </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Email 2
                                               </span>
                                               <span class="float-right text-muted">
                                               </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Phone No.
                                               </span>
                                               <span class="float-right text-muted">
                                               9877198194                          </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Phone No.
                                               </span>
                                               <span class="float-right text-muted">
                                               </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Area
                                               </span>
                                               <span class="float-right text-muted">
                                               </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Address
                                               </span>
                                               <span class="float-right text-muted">
                                               E-72 INDUSTRIAL AREA PHASE 8 MOHALI SAS Nagar,  
                                               </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               City
                                               </span>
                                               <span class="float-right text-muted">
                                               Mohali 
                                               </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               State
                                               </span>
                                               <span class="float-right text-muted">
                                               PUNJAB 
                                               </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Owner
                                               </span>
                                               <span class="float-right text-muted">
                                               Amit Sharma 
                                               </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Lead Source
                                               </span>
                                               <span class="float-right text-muted">
                                               </span>
                                            </p>
                                            <hr/>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Created By
                                               </span>
                                               <span class="float-right text-muted">
                                               amit.sharma@ornatesolar.com                          </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Created On
                                               </span>
                                               <span class="float-right text-muted">
                                               2020-06-16                          </span>
                                            </p>
                                            <p class="clearfix">
                                               <span class="float-left">
                                               Last Update On
                                               </span>
                                               <span class="float-right text-muted">
                                               2020-06-21                          </span>
                                            </p>
                                            <p class="clearfix">
                                               <a href="edit_company.php?id=1405" class="btn btn-primary btn-block mb-2">Edit</a>
                                               <a href="disable_company.php?id=1405" class="btn btn-danger btn-block mb-2">Disable</a>
                                            </p>
                                         </div>
                                      </div>
                                      <div class="tab-pane fade" id="pills-music" role="tabpanel" aria-labelledby="pills-contact-tab-custom">
                                         <div class="col-md-12">
                                            <p class="clearfix">
                                               <span class="float-left">
                                               </span>
                                               <span class="float-right text-muted">
                                               <a href="add_client.php?id=1405" class="btn-sm btn-info">+Client</a>
                                               </span>
                                            </p>
                                            <table id="table" class="table table-bordered table-hover">
                                               <thead style="background:#A4D8F9;">
                                                  <tr>
                                                     <th>Name</th>
                                                     <th>Email</th>
                                                     <th>Mobile</th>
                                                     <th>Designation</th>
                                                     <th>Action</th>
                                                  </tr>
                                               </thead>
                                               <tbody>
                                                  <tr>
                                                     <td>Robin</td>
                                                     <td>nir0421@gmail.com</td>
                                                     <td>8421700005</td>
                                                     <td>Director</td>
                                                     <td><a href="lead.php?id=1384" class="btn btn-primary btn-block mb-2">Edit</a>
                                                        <a href="lead.php?id=1384" class="btn btn-danger btn-block mb-2">Disable</a>
                                                     </td>
                                                  </tr>
                                               </tbody>
                                            </table>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- content-wrapper ends -->
     <!-- partial:partials/_footer.html -->
     <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>